:root{
  --color-body: hsl(212, 45%, 89%);
  --color-back: hsl(0, 0%, 100%);
  --blue-gray: hsl(220, 15%, 55%);
  --blue-dark: hsl(218, 44%, 22%) ;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family:'Outfit';
  height: 100vh;
  width: 100vw;
  background: var(--color-body);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.container {
  margin-top: 50px;
  background: var(--color-back);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  height: 497px;
  width: 320px;
  padding: 16px 16px 0 16px;
  border-radius: 10px;
}

.img-wrapper img {
  width:288px;
}
.title{
  margin: 24px 0 10px 0;
}
.title h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.subtitle {
  position: absolute;
  bottom: 40px;
}

.subtitle h3 {
  font-size: 0.8rem;
  letter-spacing: 0.188px;
  font-weight: 400;
}